@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Merriweather:wght@300&family=Rubik+Glitch&family=Smokum&display=swap');
.navigation {
    display: flex;
    background-color: #1F2937;
    /* border: 5px solid red; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.leftBarContainer {
    display: flex;
    /* border: 5px solid orange; */
    flex-direction: row;
    align-items: center;
    width: 16em;
    flex-shrink: 0;
}

.logo-container {
    margin: 0.7em 0 0.7em 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.logo-image {
    width: 5em;
    border-radius: 50%;
    margin: 10;
}

.logo-name {
    color: white;
    width: 5.5em;
    letter-spacing: 0.05em;
    font-size: 24px;
    margin-left: 3px;
}

.links {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 30px;
    /* border: 1px solid red; */
    padding: 10px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style: none;
}

.links a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

.rightBarContainer {
    /* border: 1px solid yellow; */
    margin: 10px;
    padding: 5px;
}

video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.backgroundVideo {
    /* border: 2px solid rgb(248, 0, 0); */
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section1Container {
    /* border: 5px solid rgb(247, 255, 7); */
    display: flex;
    width: 100%;
    height: 100%;
}

.right-layer {
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
    /* border: 5px solid rgb(0, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    width: 50%;
    background-color: transparent;
}

p {
    height: 50%;
    display: flex;
    /* border: 2px solid orange; */
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.jdmContainer {
    margin-top: 1em;
    margin-bottom: 1em;
    /* border: 4px solid gold; */
    width: auto;
    justify-content: flex-start;
}

.jdm {
    color: rgb(255, 255, 255);
    border: 0.1em solid white;
    border-radius: 2em;
    width: 8em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2em;
    text-decoration: none;
    background-image: linear-gradient(rgb(19, 127, 228), rgb(207, 132, 132));
    transition: 0.3s;
    font-family: "kawashiro";
}

.jdm:hover {
    transform: translateY(-10%);
    background: linear-gradient(rgb(216, 185, 185), rgb(255, 251, 248));
    box-shadow: 0 0 0.6em white;
}

.section2 {
    /* border: 3px solid rgb(1, 255, 251); */
    display: flex;
}

.section2-content {
    padding-top: 1em;
    /* border: 3px solid blue; */
    width: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column; 
}

.section2Bg {
    /* background-image: linear-gradient(rgb(189, 186, 186), rgb(255, 254, 254)); */
    /* border: 5px solid red; */
    width: 100%;
}

.Models {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2.5em;
    flex-flow: row wrap;
    padding: 40px 24px 96px 24px;
    /* border: 2px solid red; */
}

.title {
    font-size: 2em;
    text-align: center;
    color: rgb(0, 0, 0);
    /* border: 2px solid red; */
    margin: 0.5em 1em 1.5em 1em;
    font-family: "kamishirasawa";
}

.supra, .skyline, .r35, .rx7 {
    width: 12em;
    height: 12em;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;
}

.supraContainer, .skylineContainer, .r35Container,
.rx7Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 24px;
    /* border: 3px solid rgb(212, 0, 255); */
}

.section2-content .info {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    margin: 1em 0 1em 0;
    font-family: "lunatic";
    z-index: 2;
    /* border: 3px solid green; */
    letter-spacing: 4px;
}

.supra:hover,
.skyline:hover,
.r35:hover,
.rx7:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(206, 105, 54);
}

.section3 {
    display: flex;
    /* border: 2px solid rgb(0, 255, 208); */
    align-items: center;
}

.section3-text {
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    border-radius: 1em;
    font-family: 'Rubik Glitch', cursive;
    letter-spacing: 0.1em;
    /* margin: 11em 0; */
    margin-top: 5em;
    margin-bottom: 11em;
    background-color: #E6E7EB;
}

.quote {
    font-size: 3em;
    text-align: center;
    font-style: italic;
}

.author {
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
}

.section4 {
    /* border: 2px solid red; */
    padding: 5em 3em 0 3em;
    /* margin: 0 5em 0 5em; */
}

.section4-A {
    background-color: #3882F6;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0;
    margin-bottom: 10em;
}

.section4-content {
    /* border: 2px solid red; */
    width: 100%;
    padding: 2em 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 2em;
}

.section4-text {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 2em 0 0;
    /* border: 2px solid orange; */
    gap: 4px;
}

.subtext-header {
    font-size: 20px;
    font-family: "sunflower";
    font-weight: bold;
}

.section4-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5em 0 3em;
}

.bttn {
    border: 0.15em solid white;
    background-color: #3882F6;
    border-radius: 0.3em;
    padding: 8px 30px;
    color: white;
}

.bttn:hover {
    background-color: black;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}

.footer p {
    color: white;
    font-size: 1em;
}
